input#search {
	height: 64px;
}

#searchBar
{
	border: 1px solid grey;
	background-color: white;
}

div#aside {
	border-right: 1px solid grey;
	height: 100%;
}

div#mainWrapper {
	margin: 0;
}

footer.page-footer {
    margin: 0;
}