<div id="mainWrapper" class="row">

    <div class="col s4 z-depth-2" id="aside" ng-controller="zooListController as zl">

        <div class="littleContainer">

            <div class="section center">
                <div class="row">
                    <h5>Zoos membres ({{zl.zoos.length}})</h5><br/>
                    <a href="#newzoo" class="waves-effect waves-light btn">
                    <i class="material-icons left">note_add</i>Créez votre page</a>
                </div>
            </div>

            <ul class="collection" ng-repeat="zoo in zl.zoos">
                <li class="collection-item avatar">
                    <i class="material-icons circle red">pets</i>
                    <span class="title">{{zoo.zooName}}</span>
                    <p>{{zoo.zooPostalCode}} {{zoo.zooCity}}, {{zoo.zooCountry}}<br>
                    {{zoo.zooWebsite}}
                    </p>
                    <a ng-href="#zoos/{{ zoo._id }}" class="secondary-content"><i class="material-icons launchIcon">launch</i></a>
                </li>
            </ul><br/>
            
        </div>

    </div>

	<div class="col s8" id="section" ng-controller="articleListController as al">

		<div class="littleContainer">

		    <div class="section">

			    <div class="row">
			        <a href="#newarticle" class="waves-effect waves-light btn">
                    <i class="material-icons left">mode_edit</i>Nouvel article</a>
			    </div>

			    <ul class="collection" ng-repeat="article in al.articles">
                    <li class="collection-item">
                        <span class="articleTitre">{{article.articleTitle}}</span>
                        <span class="articleContent right">22/11/2016</span>
                    </li>
                    <li class="collection-item">{{article.articleText}}</li>
                    <li class="collection-item">
                        <a><i class="material-icons coeur">favorite</i></a>
                        <a><i class="material-icons chat right">question_answer</i></a>
                    </li>
                </ul>

			</div>
		</div>
	</div>
</div>





