<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#/login">Déconnexion</a></li>
  <li><a href="#!">Modifier le profil</a></li>
</ul>
<!-- NAVBAR -->
<nav>
  <div class="nav-wrapper">
    <img src="img/goat.png" id="logoBouc"/><a href="#!" class="brand-logo">Facebouc</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <!--<li><a href="sass.html">Sass</a></li>-->
      <li><a href="#/chat">Chat</a></li>
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Mon compte<i class="material-icons right">arrow_drop_down</i></a></li>
      <li>
        <form>
          <div class="input-field">
            <input placeholder="Rechercher" id="search" type="search" required>
            <label for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </div>
        </form>
      </li>
    </ul>
    <!-- NAVBAR - MENU BURGER POUR MOBILE -->
    <ul class="side-nav grey lighten-5" id="mobile-demo">
      <!--<li><a href="sass.html">Sass</a></li>-->
      <li><a href="#/chat">Chat</a></li>
      <li><a class="dropdown-button" href="#!" data-activates="dropdown2">Mon compte<i class="material-icons right">arrow_drop_down</i></a></li>
      <li>
        <form>
          <div class="input-field">
            <input placeholder="Rechercher" id="searchBar" type="search" required>
            <i class="material-icons">close</i>
          </div>
        </form>
      </li>
    </ul>
  </div>
</nav>

<!--SRIPTS MENU BURGER ET DROPDOWN-->

<script type="text/javascript">
  $(document).ready(function(){
    $(".button-collapse").sideNav();
    $(".dropdown-button").dropdown();
  });
</script>

