<div class="container">

    <div class="row">
        <p><a href="#/" class="waves-effect waves-light btn"><i class="material-icons left">replay</i>Retour</a></p>
    </div>
    <form name="za.zooForm" ng-submit="za.addZoo()">
        <div class="row">
            <div class="input-field col s12">
                <input id="zooName" type="text" class="validate" ng-model="za.zooName" required>
                <label for="zooName">Nom du Zoo</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="zooDescription" type="text" class="validate" ng-model="za.zooDescription" required>
                <label for="zooDescription">Description</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s4">
                <input id="zooPostalCode" type="text" class="validate" ng-model="za.zooPostalCode" required>
                <label for="zooPostalCode">Code postal</label>
            </div>
            <div class="input-field col s4">
                <input id="zooCity" type="text" class="validate" ng-model="za.zooCity" required>
                <label for="zooCity">Ville</label>
            </div>
            <div class="input-field col s4">
                <input id="zooCountry" type="text" class="validate" ng-model="za.zooCountry" required>
                <label for="zooCountry">Pays</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="zooWebsite" type="text" class="validate" ng-model="za.zooWebsite" required>
                <label for="zooWebsite">Site Web</label>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col s12">
                <button class="btn waves-effect waves-light right" type="submit">Publier<i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </form>
</div>

